{% extends 'template.html.twig' %}

{% block body %}

    <br>
    <div class="container">

        <h5><i class="fa fa-list-ul" aria-hidden="true"></i>
            Liste des factures</h5>

        <br>
        <table class="table">
            <thead class="table-group-divider" style="color: green">
            <tr>
                <th scope="col">Ref</th>
                <th scope="col">Facturier</th>
                <th scope="col">Montant</th>
                <th scope="col">Date_de_paiment</th>
                <th scope="col">Etat</th>
                <th scope="col">Operation</th>
            </tr>
            </thead>

        </table>
    </div>


{% endblock %}

